[Desktop Entry]
Type=Application
Name=Tibia
Exec=tibia-wrapper
Icon=com.tibia.Tibia
Terminal=false
StartupNotify=false
Categories=Game;
X-PrefersNonDefaultGPU=true
